html, body{
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: row; 
  min-height: 120vh;
  width: 100vw; 
  box-sizing: border-box; 
  background-color: #f3f4f6;
}

.input, .resume {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.input {
  flex:0.4;
  color: black;
}

.resume {
  flex: 0.6;
}


.personalDetails, .education, .experience {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px; 
  box-sizing: border-box;
  flex-direction: column;
  width: 60%;
}

h2{
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
}

.nameInput, .educationInput{
  display:flex;
  flex-direction: column;
}

input{
  border-radius: 10px;
  height: 20px;
  width: 90%;
  background-color: #EEF2FA;
  border: 2px solid transparent;
}
label{
  font-weight: bold;
}

.resumeContainer{
  display: flex;
  flex: 1; 
  background-color: white;
  color: white;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}

.personalInfoSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e374e;
  height: 13%;
  padding: 20px;
}

.fullNameDiv{
  font-size: xx-large;
}

.restOfPersonInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  background-color: #f9f9f9;
}
.infoDiv{
  display: flex;
  align-items: center;
  margin: 10px;
}

.images{
  color: white;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.schoolInformation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.educationInfo, .experienceInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saveButton{
  margin-top: 10px;
}
.educationSection, .experienceSection{
  display: flex;
  flex-direction: column;
  color: black;
  margin: 20px 50px 0px 50px;
}

.educationTab, .experienceTab{
  display: flex;
  background-color: #EEF1F3;
  justify-content: center;
  color:#0e374e
}

.educationLeft, .experienceLeft{
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
}

.educationDetails, .experienceDetails{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.educationDates, .experienceDates{
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  white-space: nowrap;
}

.educationRight{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  flex: 1;
  margin-bottom: 5px;
}
.experienceInput{
  display: flex;
  flex-direction: column;
}

.companyInformation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}